<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/global.css">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <div class="dir-box"><h3>Dashboard</h3></div>
        <div class="cred-box"><h1><i>welcome</i> <%= locals.username%></h1></div>
    </nav>
    <main>

    </main>

</body>
</html>