<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/global.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Library system</h1>

    <form action="/login" method="post">
      <fieldset>
        <legend><b>Login</b></legend>
        <label for="usernameLabe;">username</label><br />
        <input type="text" name="username" id="username" /><br />
        <label for="passwordLabel;">password</label><br />
        <input type="password" name="password" id="password" /><br />
        <br>
        <button type="submit">Login</button>
      </fieldset>
    </form>
  </body>
</html>
